---
// SUB-1 회차 1 부트스트랩 검증용 임시 스텁.
// 회차 2에서 public/index.html의 기존 콘텐츠로 교체된다.
---
<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Syncarion (bootstrap check)</title>
  </head>
  <body>
    <p>Bootstrap OK</p>
  </body>
</html>
